@model IEnumerable<AlquilerVehiculos.Models.TVehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSucursalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSucursalNavigation.IdSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoNavigation.IdTipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVehiculo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVehiculo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVehiculo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
