@model IEnumerable<AlquilerVehiculos.Models.TVehiculosTipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de Vehículos</h1>

<p>
    <a asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifaDiaria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarifaDiaria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
