@model AlquilerVehiculos.Models.TEmpleado

@{
    ViewData["Title"] = "Detalle Empleado";
}

<h1>Detalle Empleado</h1>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Correo)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Correo)</dd>

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Telefono)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Telefono)</dd>

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Puesto)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Puesto)</dd>

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.IdSucursalNavigation)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdSucursalNavigation.IdSucursal)</dd>

    </dl>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Index" class="btn btn-secondary">
            Volver a la lista
        </a>

        <a asp-action="Edit" asp-route-id="@Model?.IdEmpleado" class="btn btn-primary">
            Editar Empleado
        </a>
    </div>

</div>


