@model AlquilerVehiculos.Models.TSucursale

@{
    ViewData["Title"] = "Detalles de Sucursal";
}

<h1 class="mb-4">Detalles de Sucursal</h1>

<div class="card shadow-sm">
    <div class="card-body">

        <h4 class="card-title mb-3">
            Información de la Sucursal
        </h4>
        <hr />

        <dl class="row">

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Nombre)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Telefono)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Telefono)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Direccion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Direccion)</dd>

        </dl>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-secondary">
                Volver a la lista
            </a>

            <a asp-action="Edit" asp-route-id="@Model?.IdSucursal" class="btn btn-primary">
                Editar Cliente
            </a>
        </div>

    </div>
</div>

