@model IEnumerable<AlquilerVehiculos.Models.TSucursale>

@{
    ViewData["Title"] = "Index";
}

<h1>Sucursales</h1>

<p>
    <a asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSucursal">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdSucursal">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSucursal">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
