@model AlquilerVehiculos.Models.TBitacora

@{
    ViewData["Title"] = "Detalles de Bitacora";
}

<h1 class="mb-4">Detalles de Bitacora</h1>

<div class="card shadow-sm">
    <div class="card-body">

        <h4 class="card-title mb-3">
            Información de la Bitacora
        </h4>
        <hr />

        <dl class="row">

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Tabla)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Tabla)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Operacion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Operacion)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.ClavePrimaria)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ClavePrimaria)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.ValoresAntes)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ValoresAntes)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.ValoresDespues)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ValoresDespues)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.UsuarioSql)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UsuarioSql)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Fecha)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Fecha)</dd>

        </dl>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-secondary">
                Volver a la lista
            </a>

           
        </div>

    </div>
</div>