@model AlquilerVehiculos.Models.TBitacora

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TBitacora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tabla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tabla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClavePrimaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClavePrimaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValoresAntes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValoresAntes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValoresDespues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValoresDespues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioSql)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioSql)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBitacora">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
