@model IEnumerable<AlquilerVehiculos.Models.TBitacora>

@{
    ViewData["Title"] = "Bitácora";
}

<h1 class="mb-4">Bitácora del Sistema</h1>


<table class="table table-striped table-hover shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Tabla</th>
            <th>Operación</th>
            <th>Clave Primaria</th>
            <th>Usuario SQL</th>
            <th>Fecha</th>
            <th class="text-center" style="width:200px;">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tabla</td>
                <td>@item.Operacion</td>
                <td>@item.ClavePrimaria</td>

                <td>@item.UsuarioSql</td>

                <!-- Formato fecha -->
                <td>@item.Fecha.ToString("dd/MM/yyyy HH:mm:ss")</td>

                <td class="text-center">
                    <div class="d-flex justify-content-center gap-2">



                        <a asp-action="Details" asp-route-id="@item.IdBitacora"
                           class="btn btn-sm btn-info text-white">
                            Detalles
                        </a>



                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
