@model AlquilerVehiculos.Models.TRecibo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TRecibo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Metodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Metodo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRecibo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
