@model IEnumerable<AlquilerVehiculos.Models.TRecibo>

@{
    ViewData["Title"] = "Index";
}

<h1>Recibos</h1>

<p>
    <a asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metodo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRecibo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRecibo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRecibo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
